a.btn{
font-family: Roboto, sans-serif;
font-weight: 0;
text-decoration:none;
font-size: 14px;
color: #fff;
background-color: #0066CC;
padding: 9px 28px;
border: 2px solid #0066cc;
box-shadow: rgb(72, 202, 228) 0px 13px 11px 5px;
border-radius: 50px;
transition : 500ms;
transform: translateY(0);
display:block;
margin:50vh auto;
text-align: center;
width: fit-content;
}

a.btn:active       
{
  border:inset;
  color: red;
} 

.btn:hover{
transition : 1314ms;
padding: 10px 50px;
transform : translateY(-2px);
background-color: #fff;
color: #0066cc;
border: solid 2px #0066cc;
}

