div.dbar
{  width:270px;
   background-color:red;   
   border: 1px #630 solid; 
   padding: 3px;
   text-align:center;
}
a.button
{ font-family: Arial,Helvetical,sans-serif;
  font-weight: bold; 
  text-decoration:none;
  background-color: #eb0; 
  border-width:3px; 
  border:outset;  
  border-color:#eb0;  
  display:block;
  width:90%; 
  margin:3px auto 3px auto; 
}
a.button:hover
{ color: white; border-color:#eb0;}

a.button:active 
{ border:inset;}