body 
{ 
  background-image: url(han-logo.svg);
  background-repeat: repeat-x;
  background-position:50px 50px;
  background-attachment: fixed;
}  

table thead {
  background-color: brown;
  color: white;
}

table .content-one {
 background-color: salmon;
 color: antiquewhite;
}

table .content-two {
  background-color: aquamarine;
  color: black;
}

table tfoot {
  background-color: magenta;
  color: white;
}
